@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Inter', 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* white */
  --color-white-primary: #ffffff;
  --color-white-secondary: #8b909b;
  --color-white-tertiary: #4a5161;
  --color-white-quaternary: #232a3b;

  /* Black */
  --color-black-primary: #000000;
  --color-black-secondary: #666666;
  --color-black-tertiary: #b3b3b3;
  --color-black-quaternary: #e6e6e6;

  /* Red */
  --color-red-primary: #c62828;
  --color-red-secondary: #e07b7b;
  --color-red-tertiary: #f1bcbc;
  --color-red-quaternary: #fae3e3;

  /* Green */
  --color-green-primary: #4ca626;
  --color-green-secondary: #93c97b;
  --color-green-tertiary: #c8e3bd;
  --color-green-quaternary: #edf6e9;

  /* Blue */
  --color-blue-primary: #0059ff;
  --color-blue-secondary: #6699ff;
  --color-blue-tertiary: #b3ccff;
  --color-blue-quaternary: #e6efff;

  /* Purple */
  --color-purple-primary: #8c52ff;
  --color-purple-secondary: #b18fff;
  --color-purple-tertiary: #d7c7ff;
  --color-purple-quaternary: #f1edff;

  /* Yellow */
  --color-yellow-primary: #ffcc00;
  --color-yellow-secondary: #ffdd66;
  --color-yellow-tertiary: #ffecb3;
  --color-yellow-quaternary: #fff7e6;

  /* Backgrounds */
  --color-bg-dark: #0f172a;
  --color-bg-light: #f1f5f9;
  --color-bg-hover: #1e293b;
}


::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  height: 100%;
  overflow-x: hidden;
      background-color: var(--color-bg-light);
}


a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}


/* HEADINGS */

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

/* BUTTONS */

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16;
  padding: 10px 24px;
  border-radius: 12px;
}

.button-label {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding: 7px 15px;
  border-radius: 6px;
}

.primary-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 24px;
  border-radius: 12px;
  background-color: var(--color-red-primary);
  border: none;
  color: var(--color-white-primary);

}

.secondary-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 12px;
  background-color: var(--color-green-primary);
  border: none;
  color: var(--color-white-primary);

}

.outlined-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 24px;
  border-radius: 12px;
  border: 1px solid var(--color-black-tertiary);
  background-color: transparent;
  text-decoration: none;

}

.regular-body-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.large-body-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.small-body-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.smaller-body-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

ul,
li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px !important;

}



@media (max-width: 768px) {

  a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 12px;
  }

  a:hover {
    color: #1F2937;
  }

  /* HEADINGS */

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
  }

  h4 {
    font-size: 16px;
    font-weight: 500;

  }

  h5 {
    font-size: 14px;
    font-weight: 500;

  }

  h6 {
    font-size: 12px;
    font-weight: 400;

  }


  /* BUTTONS */

  button {
    font-size: 12px;
    font-weight: 400;

  }

  .button-label {
    font-size: 8px;
    font-weight: 500;

  }

  .primary-button {

    font-size: 12px;
    font-weight: 500;

  }

  .secondary-button {
    font-size: 12px;
    font-weight: 500;

  }

  .outlined-button {
    font-size: 12px;
    font-weight: 500;
  }

  .regular-body-text {
    font-size: 12px;
  }

  .large-body-text {
    font-size: 14px;
  }

  .small-body-text {
    font-size: 10px;
  }

}